*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#f4f4f4;
}
.b-body{
    background-color: #0f172a;
}
.b-container{
    background-color: #1e293b;
    color: #f4f4f4;
}
#themes{
    border:1px black solid;
border-radius: 20px;
padding: .5rem;

background-color: rgba(0, 0, 0, 0.319);
}
.w-container{
    background-color: white;
}
.container{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    border-radius: 20px;
}

.w-lenght{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.row{
    width: 80%;
    justify-self: start;
}
.row input{
    width: 80%;
}
.checkBoxs{
    width: 80%;
    height: 50%;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
   
}
.labels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputs{
    display: flex;
     flex-direction: column;
    justify-content: space-between;
    width: 20%;
}
.inputs input{
height: 1rem;
}
.pass{
    text-align: center;
    width: 100%;
}
.pass button{
    padding: .25rem;
    width: 100%;
    border-radius: 10px;
    background-color:#4f46e5 ;
    color: white;
    height: 50%;
}

.final{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border: 2px solid black;
    padding: .25rem;
    border-radius: 20px;
}
.final button{
    width: 30%;
    border-radius: 30px;
}
    
.strength{
    width: 100%;
    height: 1rem;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 30px;

}
.strengthbar{
    height: 100%;
    width: 20%;
    border-radius: 30px;
}
#strength {
  transition: width 0.5s ease, background-color 0.5s ease;
}
@media screen and (max-width:1024px){
   .container{
    text-align: center;
height: 70%;
}
   .w-lenght{
    width: 100%;
   }
   .result{
    width: 50%;
    height: 3.5rem;
    overflow-wrap: anywhere;
}
.final{
        margin-top: .5rem;

}
.final button{
    height: 3rem;
    border-radius: 15px;
}
 .strength{
    width: 100%;
    height: .5rem;
    margin-top: 10px;

}
}

